<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estudantes</title>

    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/mdq.css">
    <script src="../../public/js/photo.js"></script>
</head>

<body>
    <header>
        <a id="title" href="index.html">Controle de Estudantes</a>
        <nav>
            <p><b>Cadastrar: </b></p>
            <a href="alunos.html">Alunos</a>
            <a href="salas.html">Sala</a>
        </nav>
    </header>

    <div id="select-box">
        <label for="salas">Salas de Aula</label>
        <select id="salas">
            <option>
                Sala 1
            </option>
            <option>
                Sala 2
            </option>
            <option>
                Sala 3
            </option>
        </select>
    </div>

    <h2 style="margin-bottom: 5px; font-family: 'Rubik', sans-serif; text-transform: uppercase;">Alunos</h2>
    <hr style="width: 90%; margin-bottom: 25px;background-color: lightgray; border: none; height: 1px;"/>
    <section>
        <div id="lista-alunos">
            <div class="aluno">
                <img src="https://via.placeholder.com/150">
                <h3>Nome</h3>
                <p>Idade: 00</p>
                <button class="edit-button">Editar</button>
            </div>
            <div class="aluno">
                <img src="public/img/user.png" />
                <h3>Nome</h3>
                <p>Idade: 00</p>
                <button class="edit-button">Editar</button>
            </div>
            <div class="aluno">
                <img src="public/img/user.png" />
                <h3>Nome</h3>
                <p>Idade: 00</p>
                <button class="edit-button">Editar</button>
            </div>
            <div class="aluno">
                <img src="public/img/user.png" />
                <h3>Nome</h3>
                <p>Idade: 00</p>
                <button class="edit-button">Editar</button>
            </div>
            <div class="aluno">
                <img src="public/img/user.png" />
                <h3>Nome</h3>
                <p>Idade: 00</p>
                <button class="edit-button">Editar</button>
            </div>
        </div>
    </section>

</body>

</html>