/* TODO:  

- ajustar lista de alunos para ficar no centro em tamanhos menores
- arrumar header bugada para celulares

*/

@media only screen and (max-width: 520px) {
    header {
        display: block;
    }

    #lista-alunos {
        flex-direction: column;
        justify-content: center;
    }

    .aluno {

        width: 90%;
    }
}
